ClimateScienceFiction_AR_Test/Packages/com.ptc.vuforia.engine-10.3.2.tgz filter=lfs diff=lfs merge=lfs -text
ClimateScienceFiction_AR_Test/Library/PackageCache/com.ptc.vuforia.engine@4c018ef7ca9c-1635979565000/Vuforia/Plugins/iOS/VuforiaEngine.framework/VuforiaEngine filter=lfs diff=lfs merge=lfs -text
ClimateScienceFiction_AR_Test/Library/ArtifactDB filter=lfs diff=lfs merge=lfs -text
